th,
td {
  border: 1px solid black; /* Apply a solid border to table cells */
  padding: 8px; /* Add some padding for better appearance */
}

#usersData {
  display: none;
}

#sortAsc, #sortDesc {
  display: none;
}